:root {
  --md-sys-color-primary: rgb(131 210 228);
  --md-sys-color-surface-tint: rgb(131 210 228);
  --md-sys-color-on-primary: rgb(0 54 62);
  --md-sys-color-primary-container: rgb(0 78 90);
  --md-sys-color-on-primary-container: rgb(163 238 255);
  --md-sys-color-secondary: rgb(178 203 209);
  --md-sys-color-on-secondary: rgb(28 52 57);
  --md-sys-color-secondary-container: rgb(51 74 80);
  --md-sys-color-on-secondary-container: rgb(205 231 237);
  --md-sys-color-tertiary: rgb(188 197 235);
  --md-sys-color-on-tertiary: rgb(38 47 77);
  --md-sys-color-tertiary-container: rgb(61 70 101);
  --md-sys-color-on-tertiary-container: rgb(219 225 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(14 20 22);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(14 20 22);
  --md-sys-color-on-surface: rgb(222 227 229);
  --md-sys-color-surface-variant: rgb(63 72 75);
  --md-sys-color-on-surface-variant: rgb(191 200 203);
  --md-sys-color-outline: rgb(137 146 149);
  --md-sys-color-outline-variant: rgb(63 72 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(43 49 51);
  --md-sys-color-inverse-primary: rgb(0 104 119);
  --md-sys-color-primary-fixed: rgb(163 238 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 37);
  --md-sys-color-primary-fixed-dim: rgb(131 210 228);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 90);
  --md-sys-color-secondary-fixed: rgb(205 231 237);
  --md-sys-color-on-secondary-fixed: rgb(5 31 36);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 209);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 74 80);
  --md-sys-color-tertiary-fixed: rgb(219 225 255);
  --md-sys-color-on-tertiary-fixed: rgb(17 26 55);
  --md-sys-color-tertiary-fixed-dim: rgb(188 197 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(61 70 101);
  --md-sys-color-surface-dim: rgb(14 20 22);
  --md-sys-color-surface-bright: rgb(52 58 60);
  --md-sys-color-surface-container-lowest: rgb(9 15 16);
  --md-sys-color-surface-container-low: rgb(23 29 30);
  --md-sys-color-surface-container: rgb(27 33 34);
  --md-sys-color-surface-container-high: rgb(37 43 44);
  --md-sys-color-surface-container-highest: rgb(48 54 55);
}
